section#contact(aria-label="contact")
    h3=contact.title
        a.header-anchor(href="#contact" aria-hidden="true")= anchorSymbol
    p.social-links
        a.link--social(href="https://www.facebook.com/demopartyBerlin/" rel="noopener" target="_blank")="Facebook"
        a.link--social(href="https://twitter.com/deadlineBER" rel="noopener" target="_blank")="Twitter"
        a.link--social(href="https://www.youtube.com/user/demopartyBerlin" rel="noopener" target="_blank")="Youtube"
        a.link--social(href="https://www.pouet.net/topic.php?which=11135" rel="noopener" target="_blank")="Pouet"
        a.link--social(href="mailto:contact@demoparty.berlin" rel="noopener" target="_blank")="E-Mail"

        a.link--social(href="impressum.html")="Impressum"