section#impressions(aria-label="impressions")
    h2=impressions.title
        a.header-anchor(href="#impressions" aria-hidden="true")= anchorSymbol
    p=impressions.content

    div.impressions__slider
        each image in impressions.slider.content
            figure.impressions__slider__slide
                img.impressions__slider__slide__image(src=image.src alt=image.alt)
                figcaption.impressions__slider__slide__caption= image.caption

    //- append head_end
    link(rel="stylesheet" type="text/css" href="assets/vendor/slick/slick.css")
    //- append body_end

    script(type="text/javascript" src="assets/vendor/jquery/jquery-3.2.1.min.js")
    script(type="text/javascript" src="assets/vendor/slick/slick.min.js")
    script.
        //- init slick slider
        $(document).ready(function () {
            $('.impressions__slider').slick({
                //variableWidth: true,
                nextArrow:'<button type="button" class="slick-next button--small">></button>',
                prevArrow:'<button type="button" class="slick-prev button--small"><</button>'
            });
        });