section#location(aria-label="location")
    h2=location.title
        a.header-anchor(href="#location" aria-hidden="true")= anchorSymbol
    p=location.content
	p This time the party will happen again in the hall in the basement, which is now finally freshly renovated and features:
	ul
		li new & proper sanitary facilities (and lots of them)
		li better sleeping hall
		li great bigscreen (as in the years before)
		li friendly bar with fair prices
		li lots of couches
		li big outdoor area with possibility to camp and chill at the bonfire
	
    iframe(src=location.map.src width=location.map.width height=location.map.height frameborder="0")
